*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box; 
}

/*HEADER*/
#orange-line{
    background-color: #D1511F;
    height: 5px;
}

.logotype{
    display: inline-block;
    padding: 32px 0px 35px 126px;
}

.social-icons{
    float: right;
    margin-right: 10px;
    flex-direction: column;
    margin: 20px 250px 10px 10px;
}

.social-icons li{
    display:inline-block;
}

.fa-facebook-square:before, .fa-twitter-square:before, .fa-linkedin-square:before{
    color: #D1511F;
}

.separator-image{
    background-image: url("./../img/separator-image.jpg");
    width: 100%;
    height: 118px; 
}

/*CONTAINER*/
.wrapper{
    font-family: sans-serif;
    display: inline-block;
    margin: 0% 12% 0% 12%; 
    display: inline-block;
    align-items: center;
}

.wrapper h1{
    color: #E65A22;
    font-size: 35px;
    margin-top: 4%;
    width: 80%;
}

.wrapper hr{
    border-color: #c5c4c4;
    margin-top: 80px;
    opacity: 0.3;
}

.wrapper h2{
    color: #B0ADA7;
    font-size:22px;
    margin-top: 49px;
    width: 68%;
}

.wrapper p{ 
    color: #000;
    margin-bottom: 48px;
    margin-top: 42px;
    width: 130%;  
    font-size: 14px;
    line-height: 1.5;
}

.wrapper a{
    color: #E36120;
}

.ebook{ 
    float: right;
    position: relative;
    margin-right: -22%;
    bottom: 33px;  
}

/*FORM*/
aside{
    display: inline-block !important;
    position: absolute;
}

form{ 
    background-color: #D6D6D4;
    margin-left: 66%;
    margin-top: 15%;
    width: 355px; 
    padding: 9% 6% 9% 6%;
}

form h3{
    color: #E36120;
    text-align: center;
    padding: 5%; 
    font-size: 17px; 
}

.form-camp{ 
    display: flex;
    margin: 0 auto;
   font-size: 18px;
   padding:10px;
   width: 80%; 
}

.check-box{
    margin-left: 36px;
   margin-bottom: 10px;
}

label a{
    text-decoration: none;
}

fieldset{
    border: none;
}

.formButton{
    background-color: #E36120;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    height: 35px;
   align-items:center;
   margin-bottom: 10px;
   margin-top: 15px;
}

button:hover{
    background-color: #9C3C00;
}

/*TEXT*/
.emphasizes{
    color: #E36120;
    font-size: 22px; 
    margin-left: 14%;
    margin-bottom: 60px;
}

section{
display: inline-block !important;
width: 50%;
}

/*FOOTER*/
footer{
    background-color: #424242;
    width: 100%;
    height: 104px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;
}  

.footer-frame ul, small{
  display:flex;
  float: right; 
}

.footer-frame img{
    position: relative;
    top: 40px;
}

.footer-frame li, small{
    list-style: none; 
    padding: 20px;  
    font-size: 12px;
}

.footer-frame a, small{
    text-decoration: none;
    color: #fff;
}

footer hr{
    height: 12px;
    margin-top: 22px;
    opacity: 0.3; 
}

/*POPUP*/
.popup, .empty-space{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: auto;
    height: 150px;
    padding: 20px;
    background: #f7f7f4;
    display: none;
    -webkit-backdrop-filter: grayscale() blur(10px); /* Safari 9+ */
    backdrop-filter: grayscale() blur(10px); /* Chrome and Opera */
    background-color: rgba(255, 255, 255, 0.3);
    height: 100%;
    size: 100%;
}

.popup p, .empty-space p{
    text-align: center;
    font-size: 28px;
    color: #E36120; 
}

.close-button, .close-button1{
    background: #E36120;
    color: #fff;
    border-style: none; 
    padding: 3px;
}

.close-button:hover, .close-button1:hover{ 
    cursor: pointer;
    background: #9C3C00;
}



@media  (max-width: 1200px){

*{
    box-sizing: unset;
    overflow-x: hidden !important;
}

/*HEADER*/
    .logotype{
        width: 50%;
        padding: 0;
        display: flex;
        margin: 0 auto;
    }

    .social-icons{
        font-size: 35px;
    }

    .separator-image{
        display: none;
    }

    /*CONTAINER*/
    section{
        display: block !important; 
        width: 100%;   
    }

    .wrapper{
        display:block !important;
        padding: 12px;
        margin: 0px 5px 0px 5px;
    }

    .wrapper h1{
        font-size: 20px;
        width: 100%;
        padding: 0;
        display: block;   
    }

    .wrapper h2, .wrapper p {
        width: 100%;
    }

    .wrapper hr{
        display: none;
    }

    .emphasizes{
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 15px;
        font-size: 20px;   
    }

    .ebook{
        float: none;
        padding-top: 22%;
    }

    /*FORM*/
    form{
        font-size: 15px;
        margin: 0 auto;
        margin-bottom: 150px;
        padding: 5px !important;
    }

    button{
        font-size: 11px;
    } 

    /*FOOTER*/
    footer{
        height: auto;
        position: fixed;
        bottom: 0;
        box-sizing: border-box; 
    }

    footer img{
        display:flex;
        margin: 0 auto;
        margin-bottom: 5%;
        margin-top: 2%;
        padding-bottom: 15px;
    }

    footer hr{
        display:none;
    }
}