*{
    margin: 0px;
    padding: 0;
}
#orange-line{
    background-color: #D1511F;
    height: 5px;
}

.logotype{
    display: inline-block;
    padding: 32px 0px 35px 126px;
}

.social-icons{
    float: right;
    margin-right: 10px;
    flex-direction: column;
    margin: 20px 250px 10px 10px;
}

.social-icons li{
    display:inline-block;
}

.fa-facebook-square:before, .fa-twitter-square:before, .fa-linkedin-square:before{
    color: #D1511F;
}

.separator-image{
    background-image: url("./../img/separator-image.jpg");
    width: 100%;
    height: 169px;   
}

section{
    display: inline-block;
    margin: 0px 200px 0px 200px;  
}

.wrapper h1{
    color: #E65A22;
    font-size: 42px;
    margin-bottom: 48px; 
}

.wrapper hr{
    border-color: #c5c4c4;
    margin-top: 88px;
}

.wrapper h2{
    color: #B0ADA7;
    font-size:30px;
    margin-top: 70px;
}

.wrapper p{ 
    margin-bottom: 48px;
    margin-top: 30px;
    width: 850px;  
    font-size: 14px;
}

.wrapper a{
    color: #E36120;
}

.ebook{ 
    float: right;
    position: relative;
    margin-right: 695px;
    bottom: 40px; 
}

form{ 
    float:right;
    background-color: #D6D6D4;
    position:absolute;
    bottom: 239px;
    margin: 0px 200px 0px 60%;
    height: 40%;     
}

form h3{
    color: #E36120;
    text-align: center;
    padding: 20px;  
}

form input{ 
    display: flex;
    margin: 0 auto;
    height: 35px;
    width: 250px;
    text-align: left;  
}

label input{
    align-items:left !important;
    width: 5%;
    display: inline-block;
}

label a{
    text-decoration: none;
}

fieldset{
    border: none;
}

button{
    background-color: #E36120;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    height: 35px;
   align-items:center;
   margin-top: 25px;
}

.emphasizes{
    color: #E36120;
    font-size: 22px; 
    margin-left: 200px;
}

.footer-frame{
    background-color: #424242;
    position: fixed;
    bottom: 0;
    width: 100%;
    display:flex;
    height: 125px;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
}  

.footer-frame ul, small{
  display:flex;
}

.footer-frame li, small{
    list-style: none; 
}

.footer-frame a, small{
    text-decoration: none;
    color: #fff;
}

.footer-frame hr{
   
}

.popup{
    display: none; 
}

@media only screen and (max-device-width: 900px){

    *{
        width:100%;
        float:left;
    }
    #orange-line{
        min-width: 100%;
    }

    .logotype{
        text-align: center;
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .separator-image{
        display: none;
    }

    .wrapper{
        font-size: 11px;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    form{
        
        height: auto;
        align-items: center;
        font-size: 11px;
        display:block;
        position: fixed;
    }

    footer{
        max-width: 100%;
        display: flex;
        justify-content: column;
    }



}

