*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    
}

/*FONTS*/
@font-face {
    font-family: "awesome";
    src: url("./../fonts/fontawesome-webfont.ttf") format("truetype"),
    url("./../fonts/FontAwesome.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

html, body{
    min-height: 100%
}

/*HEADER*/
#orange-line{
    background-color: #D1511F;
    height: 5px;
}

.logotype{
    display: inline-block;
    padding: 32px 0px 35px 126px;
}

.social-icons{
    float: right;
    margin-right: 10px;
    flex-direction: column;
    margin: 20px 250px 10px 10px;
}

.social-icons li{
    display:inline-block;
}

.fa-facebook-square:before, .fa-twitter-square:before, .fa-linkedin-square:before{
    color: #D1511F;
}

.separator-image{
    background-image: url("./../img/separator-image.jpg");
    width: 100%;
    height: 135px; 
   
}

/*BOX*/
.wrapper{
    display: inline-block;
    margin: 0% 12% 0% 12%; 
    max-width: 100%; 
    display: inline-block;
    align-items: center;
   
}

.wrapper h1{
    font-family: "awesome", 'verdana';
    color: #E65A22;
    font-size: 35px;
    margin-top: 4%;
    width: 41%;
}

.wrapper hr{
    font-family: "awesome", 'verdana';
    border-color: #c5c4c4;
    margin-top: 80px;
    opacity: 0.3;
    
}

.wrapper h2{
    font-family: "awesome", 'verdana';
    color: #B0ADA7;
    font-size:22px;
    margin-top: 49px;
    width: 39%;
}

.wrapper p{ 
    font-family: "awesome", 'verdana';
    margin-bottom: 48px;
    margin-top: 69px;
    width: 55%;  
    font-size: 13px;
}

.wrapper a{
    color: #E36120;
    font-family: "awesome", 'verdana';
}

.ebook{ 
    float: right;
    position: relative;
    margin-right: 37%;
    bottom: 71px;  
}


form{ 
    font-family: "awesome", 'verdana';
    background-color: #D6D6D4;
    position:relative;
    bottom: 557px;
    margin-left: 76%;
    width: 355px;
    padding: 1%;
   
        
}

form h3{
    font-family: "awesome", 'verdana';
    color: #E36120;
    text-align: center;
    padding: 5%; 
    font-size: 16px; 
    
}

.formCamp{ 
    font-family: "awesome", 'verdana';
    display: flex;
    margin: 0 auto;
   font-size: 18px;
   padding:10px;
   width: 80%;
    text-align: left;  
}

.check-box{
    margin-left: 36px;
   margin-bottom: 10px;
}

label a{
    text-decoration: none;
    font-family: "awesome", 'verdana';
}

fieldset{
    border: none;
    
}

button{
    background-color: #E36120;
    color: #fff;
    font-size: 15px;
    border: none;
    cursor: pointer;
    display: flex;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    height: 35px;
   align-items:center;
   margin-bottom: 10px;
   margin-top: 15px;
   font-family: "awesome", 'verdana';
}

button:hover{
    background-color: #9C3C00
}

.emphasizes{
    color: #E36120;
    font-size: 22px; 
    margin-left: 11%;
    margin-bottom: 15px;
    font-family: "awesome", 'verdana';
    
}

aside{
    
}

footer{
    background-color: #424242;
    font-family: "awesome", 'verdana';
    width: 100%;
    height: 120px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-between;

    
}  

.footer-frame ul, small{
  display:flex;
  float: right; 
}

.footer-frame img{
    position: relative;
    top: 40px;
}

.footer-frame li, small{
    align-items: center;
    list-style: none; 
    padding: 20px;  
    font-size: 12px;
}

.footer-frame a, small{
    text-decoration: none;
    color: #fff;
}

footer hr{
    height: 12px;
    margin-top: 22px;
}



.popup{
    position: fixed;
    top: 0;
    bottom: 80%;
    right: 0;
    left: 0;
    margin: auto;
    width: auto;
    height: 150px;
    padding: 20px;
    background: #f7f7f4;
    display: none;
}

.popup p{
    text-align: center;
    font-size: 38px;
    color: orange;
    
}

.popup button{
    width: auto;
    margin-top: 10px;
    

}

@media  (max-device-width: 1200px){

    
*{
    box-sizing: unset;
}

#orange-line{
    width: 100%;
    
}
   
    .logotype{
        height: auto;
        width: 55%;
        padding: 0;
        display: flex;
        margin: 0 auto;
    }

    .social-icons{
        font-size: 35px;
        text-align: center;
    }
    .separator-image{
        display: none;
    }

    .wrapper{
        display:inline;
        font-size: 15px;
        text-align: center;
        width: 100%;
        padding: 12px;
        margin: 0px 5px 0px 5px;
    }

    .wrapper h1{
        font-size: 20px;
        width: 100%;
        padding: 0;
        display: block;
        
    }

    .wrapper h2, .wrapper p {
        width: 100%;
    }

    .wrapper hr{
        width: 100%;
        margin: 0;
        padding: 0;
        display: none;
        
        
    }

    .emphasizes{
        margin: 0;
        padding: 0;
        text-align: center;
        margin-bottom: 15px;
        
    }

    .ebook{
        float: none;
        padding-top: 22%;
    }
    form{
        font-size: 15px;
        margin-left: 0%;
        margin-top: 15px;
        position:unset;
        margin: 0 auto;
      
    }


    button{
        width: auto;
        font-size: 11px;
    } 

    footer{
        display: flex;
        flex-direction:column;
        padding-right: 0%;
        width: 100%;
        margin: 0 !important;
        padding: 0;
    }

    footer img{
        display:flex;
        margin: 0 auto;
        margin-bottom: 5%;
        margin-top: 2%;
    }

    footer li{

    }

    footer hr{
        display:none;
    }
}

